@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "GPON Monitor";
}

<div class="container body-container">
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-6  col-xs-12">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <div class="form-group search-form-group has-feedback">
                        <input class="form-control" id="search-form" type="text"><span class="glyphicon glyphicon-search form-control-feedback search-form-icon"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <i class="glyphicon glyphicon-refresh" id="refresh-onu-list" data-olt-id="0"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <div class="alert alert-dismissible alert-warning hidden" id="onu-list-alert">
                <h4>@Localizer["Error"]</h4>
                <h5 id="onu-list-alert-description"></h5>
            </div>
            <table class="onu-list table-hover">
                <thead>
                    <tr>
                        <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></th>
                        <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></th>
                        <th class="col-lg-8 col-md-8 col-sm-8 col-xs-8"></th>
                    </tr>
                </thead>
                <tbody data-olt-id="0">
                </tbody>
            </table>
        </div>

        <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
            <div class="alert alert-dismissible alert-warning hidden" id="onu-details-alert">
                <h4>@Localizer["Error"]</h4>
                <h5 id="onu-details-alert-description"></h5>
            </div>
            <table class="onu-details">
                <tbody>
                    <tr>
                        <td class="onu-detail-description onu-detail-description-head"><span id="onu-olt-port-id-onu-id"></span><i class="glyphicon glyphicon-refresh" id="refresh-onu-details"></i></td>
                        <td class="onu-detail-item item-bold onu-detail-item-head" id="onu-description"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Model type:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-model-type"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Serial number:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-gpon-serial-number"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Optical connection:"]</td>
                        <td class="onu-detail-item" id="onu-optical-connection-state"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Last deactivation reason:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-connection-deactivation-reason"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Optical power received:"]</td>
                        <td class="onu-detail-item" id="onu-optical-power-received"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Optical cable distance:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-optical-cable-distance"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Connection uptime:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-optical-connection-uptime"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["System uptime:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-system-uptime"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Inactive time:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-connection-inactive-time"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Block status:"]</td>
                        <td class="onu-detail-item" id="onu-block-status"></td>
                    </tr>
                    <tr class="hidden">
                        <td class="onu-detail-description">@Localizer["Block reason:"]</td>
                        <td class="onu-detail-item" id="onu-blok-reason"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Service profile:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-gpon-profile"></td>
                    </tr>
                    <tr class="hidden">
                        <td class="onu-detail-description">@Localizer["Interface Ethernet 1:"]</td>
                        <td class="onu-detail-item" id="onu-ethernet-port-1-state-and-speed"></td>
                    </tr>
                    <tr class="hidden">
                        <td class="onu-detail-description">@Localizer["Interface Ethernet 2:"]</td>
                        <td class="onu-detail-item" id="onu-ethernet-port-2-state-and-speed"></td>
                    </tr>
                    <tr class="hidden">
                        <td class="onu-detail-description">@Localizer["Interface Ethernet 3:"]</td>
                        <td class="onu-detail-item" id="onu-ethernet-port-3-state-and-speed"></td>
                    </tr>
                    <tr class="hidden">
                        <td class="onu-detail-description">@Localizer["Interface Ethernet 4:"]</td>
                        <td class="onu-detail-item" id="onu-ethernet-port-4-state-and-speed"></td>
                    </tr>
                    <tr class="hidden">
                        <td class="onu-detail-description">@Localizer["Interface VoIP 1:"]</td>
                        <td class="onu-detail-item" id="onu-voip-port-1-state"></td>
                    </tr>
                    <tr class="hidden">
                        <td class="onu-detail-description">@Localizer["Interface VoIP 2:"]</td>
                        <td class="onu-detail-item" id="onu-voip-port-2-state"></td>
                    </tr>
                    <tr class="hidden">
                        <td colspan="2">
                            <div class="hidden-xs">
                                <img src="" class="img-responsive center-block" id="onu-image" style="zoom:80%">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
             NavbarMediaResize.init();
             TooltipWhenOverflow.init();
             OnuDescriptionListSearch.init();
             OltDescriptionListController.init('.navbar-right');
             OltDescriptionListController.initializeOnuList(0);
             OnuDetailsController.init();
         });
    </script>
}