@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "GPON Monitor";
}

<div class="container body-container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-first">
            <div class="row h-100">
                <div class="col my-auto">
                    <div class="form-group mt-3">
                        <input class="form-control" id="search-input" type="text" placeholder="@Localizer["Search"]">
                    </div>
                </div>
                <div class="col-auto my-auto">
                    <a class="fas fa-sync" id="refresh-onu-list" data-olt-id="0"></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-6">
            <div class="alert alert-warning d-none mt-3 m-0 p-0" id="alert-indicator">
                <h5 class="m-2" id="alert-description"></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-first">
            <table class="onu-list table-hover">
                <thead>
                    <tr>
                        <th class="w-auto"></th>
                        <th class="w-10"></th>
                        <th class="w-auto"></th>
                    </tr>
                </thead>
                <tbody data-olt-id="0">
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-xl-6">
            <table class="onu-details">
                <thead>
                    <tr>
                        <th class="w-50"></th>
                        <th class="w-50"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="onu-detail-description onu-detail-description-head"><span id="onu-olt-port-id-onu-id"></span><i class="fas fa-sync" id="refresh-onu-details"></i></td>
                        <td class="onu-detail-item item-bold onu-detail-item-head" id="onu-description"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Model type:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-model-type"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Serial number:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-gpon-serial-number"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Optical connection:"]</td>
                        <td class="onu-detail-item" id="onu-optical-connection-state"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Last deactivation reason:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-connection-deactivation-reason"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Optical power received:"]</td>
                        <td class="onu-detail-item" id="onu-optical-power-received"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Optical cable distance:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-optical-cable-distance"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Connection uptime:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-optical-connection-uptime"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description"><i id="reset-onu-icon" class="fa fa-power-off d-none"  title="Reset ONU"></i> @Localizer["System uptime:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-system-uptime"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Inactive time:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-connection-inactive-time"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description"><i id="block-onu-icon" class="fa fa-lock d-none" title="Block ONU"></i><i id="unblock-onu-icon" class="fa fa-unlock d-none" title="Unblock ONU"></i> @Localizer["Block status:"]</td>
                        <td class="onu-detail-item" id="onu-block-status"></td>
                    </tr>
                    <tr class="d-none">
                        <td class="onu-detail-description">@Localizer["Block reason:"]</td>
                        <td class="onu-detail-item" id="onu-blok-reason"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Firmware version:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-firmware-version"></td>
                    </tr>
                    <tr>
                        <td class="onu-detail-description">@Localizer["Service profile:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-gpon-profile"></td>
                    </tr>
                    <tr class="d-none">
                        <td class="onu-detail-description">@Localizer["IP Host 1:"]</td>
                        <td class="onu-detail-item indicator-info" id="onu-ip-host-1"></td>
                    </tr>
                    <tr class="d-none">
                        <td class="onu-detail-description">@Localizer["Interface Ethernet 1:"]</td>
                        <td class="onu-detail-item" id="onu-ethernet-port-1-state-and-speed"></td>
                    </tr>
                    <tr class="d-none">
                        <td class="onu-detail-description">@Localizer["Interface Ethernet 2:"]</td>
                        <td class="onu-detail-item" id="onu-ethernet-port-2-state-and-speed"></td>
                    </tr>
                    <tr class="d-none">
                        <td class="onu-detail-description">@Localizer["Interface Ethernet 3:"]</td>
                        <td class="onu-detail-item" id="onu-ethernet-port-3-state-and-speed"></td>
                    </tr>
                    <tr class="d-none">
                        <td class="onu-detail-description">@Localizer["Interface Ethernet 4:"]</td>
                        <td class="onu-detail-item" id="onu-ethernet-port-4-state-and-speed"></td>
                    </tr>
                    <tr class="d-none">
                        <td class="onu-detail-description">@Localizer["Interface VoIP 1:"]</td>
                        <td class="onu-detail-item" id="onu-voip-port-1-state"></td>
                    </tr>
                    <tr class="d-none">
                        <td class="onu-detail-description">@Localizer["Interface VoIP 2:"]</td>
                        <td class="onu-detail-item" id="onu-voip-port-2-state"></td>
                    </tr>
                    <tr class="d-none">
                        <td colspan="2">
                            <div class="d-none d-sm-block text-center">
                                <img src="" class="img-responsive" id="onu-image" style="zoom:80%">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Password Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel">@Localizer["Enter command protection password"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="password" class="form-control" id="commandProtectionPassword" placeholder="@Localizer["Password"]">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["Cancel"]</button>
                <button type="button" class="btn btn-primary" id="submitPassword">@Localizer["Submit"]</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
             NavbarMediaResize.init();
             TooltipWhenOverflow.init();
             OnuDescriptionListSearch.init();
             OltDescriptionListController.init('.navbar-right');
             OltDescriptionListController.initializeOnuList(0);
             OnuDetailsController.init();
         });
    </script>
}